@page "/todo"

<PageTitle>Todo</PageTitle>

<h3>Todo (@Items.Count(i => !i.IsDone))</h3>

<ol>
    @foreach (var item in Items)
    {
        <li class="my-2">
            <input type="checkbox" @bind="item.IsDone" />
            <input type="text" @bind="item.Title" />
        </li>
    }
</ol>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {

    private string? newTodo;

    public List<TodoItem> Items { get; set; } = new();

    public void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            Items.Add(new TodoItem { Title = newTodo, IsDone = false });
            newTodo = string.Empty;
        }
    }
}
