html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #161616;
  color: antiquewhite;
}

nav {
    background: #d55900
}

.nav-link {
  color: antiquewhite !important;
}

.container-70 {
    height: 70vh;
    overflow-y: scroll;
}

.movies-table {
    color: inherit;
}

    .movies-table td {
        color: #9bfcff
    }